:root {
  // theme colour
  --main-colour: #2A3FD6;
  --main-colour-darken: #000070;
  --main-grey-one: #A8B6D4;
  --main-grey-two: #6F92C5;
  --grey: #EFF2F9;
  --black: #090B12;
  --black-grey: hsla(0, 0%, 0%, 0.8);
  --black-grey1: #4A4654;
  --warning: #C14E49;

  //font sizes
  --small-fs: clamp(1rem, 3vw, 1.5rem);
  --normal-fs: clamp(1rem, 4.5vw, 1.5rem);
  --xl-fs: 10vw;
  @media screen and (min-width: 768px) {
    --normal-fs: 3vw;
    --xl-fs: 7.5vw;  
  }
  @media screen and (min-width: 1024px) {
    --small-fs: 1.5vw;
    --normal-fs: 1.5vw;
    --xl-fs: 5vw;  
  }
  @media screen and (min-width: 1280px) {
    --small-fs: 1vw;
    --normal-fs: clamp(1rem, 1.5vw, 1.5rem); 
    --xl-fs: clamp(1rem, 3vw, 4rem); 
  }
}
h1 {
  font-size: var(--xl-fs);
  font-weight: 700;
  line-height: 1;
}

h2 {
  font-size: var(--xl-fs);
  font-weight: 700;
  line-height: 1;
}

p {
  font-weight: 300;
  font-size: var(--normal-fs);
  margin-bottom: 1vw;
}

label {
  font-size: var(--normal-fs);
}

button {
  font-weight: 700;
  color: #fff;
  padding: clamp(0.75rem, 1vw, 10rem) clamp(1.5rem, 1vw, 10rem); 
  background: var(--main-colour);
  font-size: var(--small-fs);
  &:hover {
    background: var(--main-colour-darken);
  }
  &.btn-large {
    transform: scale(2);
  }
  &.btn-white {
    color: var(--main-colour);
    background: #FFF;
    border: 1px solid var(--main-colour);
    &:hover {
      color: #FFF;
      background: var(--main-colour);
    }    
  }
}

input {
  margin-top: 1vw;
  padding: 2vw;
  width: 100%;
  border: 1px solid var(--main-grey-one);
  outline: none;
  height: 3rem;
  font-size: var(--normal-fs);
  &::placeholder {
    font-size: var(--normal-fs);
  }
  @media screen and (min-width: 1024px) {
    padding: 1vw;  
  }
  @media(min-width: 1536px) {
    height: 4vw;
  }
}

.theme-background {
  background: var(--main-colour);
  background: linear-gradient(311deg, rgba(42,63,214,1) 0%, rgba(22,28,65,1) 100%);
}

.error {
  color: var(--warning);
  font-size: var(--normal-fs);
}

.inset-center-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.inset-center-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.inset-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// fieldset {
//   width: 100%;
//   padding: 2vw 4vw;
//   margin: 0;
//   border: 2px solid var(--back-grey);
//   label {
//     font-size: var(--normal-fs);
//     display: block;
//     font-weight: 500;
//     font-style: italic;
//     input {
//       margin-top: 1vw;
//       padding: 1vw;
//       width: 100%;
//       border: 1px solid var(--main-grey-one);
//       outline: none;
//       height: 6vw;
//       font-size: var(--small-fs);
//       &::placeholder {
//         font-size: var(--small-fs);
//       }
//       @media(min-width: 1536px) {
//         height: 4vw;
//       }
//     }
//   }
//   button {
//     margin-top: 1vw;
//     @media(min-width: 1536px) {
//       margin-top: 1.3vw;
//     }
//   }
// }

// button {
//   font-weight: 700;
//   color: #fff;
//   padding: 1vw;
//   background: var(--main-colour);
//   font-size: var(--small-fs);
//   @media(min-width: 1536px) {
//     padding: 0.75vw 1.5vw;
//   }
//   &.btn-large {
//     transform: scale(2);
//   }

//   &.btn-white {
//     color: var(--main-colour);
//     background: #FFF;
//   }
// }

// .inset-center-y {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
// }

// .inset-center-x {
//   position: absolute;
//   left: 50%;
//   transform: translateX(-50%);
// }

// table {
//   th {
//     padding: 1vw;
//     background-color: var(--main-colour);
//     color: #FFF;
//     font-size: var(--normal-fs);
//     text-align: left;
//   }
//   tr {
//     text-align: left;
//   }
//   tr {
//     button {
//       display: block;
//       margin-left: auto;
//     }
//   }
// }

// .message-list {
//   background-color: var(--grey);
//   width: 100%;
//   margin: 0 4vw;
//   padding: 2vw 4vw;
//   overflow: scroll;
//   max-height: 90vh;
// }

// .landing {
//   background-color: var(--main-colour);
//   * {
//     color: #FFF;
//   }
//   &__sign-in {
//     border-radius: 5px;
//     background-color: #FFF;
//     H1,label {
//       color: var(--main-colour);
//     }
//   }
// }